@import url('https://fonts.googleapis.com/css?family=Amiri|Cairo|Changa|El+Messiri|Lalezar|Pacifico|Tajawal|Lemonada');

@media only screen and (max-width: 399px) {
    .canvas-container canvas {
       width: 350px !important;
       height: auto !important;
    }
    #canvas-container{
      width: auto !important;
      height: 370px !important;
    }
		.tab-links a {
  			font-size: 0.85em !important;
  		}
		#uniLogo , #elearningLogo {
      margin-top: 4%;
			width: 25%;
			height: auto;
		}
		#title {
			font-size: 4vw;
		}
}
@media only screen and (min-width : 400px) and (max-width : 750px){
    .canvas-container canvas {
       width: 390px !important;
       height: 390px !important;
    }
    .canvas-container {
       width: auto !important;
       height: 400px !important;
    }
    .tab-links a {
			font-size: 0.9em !important;
		}
		#uniLogo , #elearningLogo {
      margin-top: 4%;
      margin-bottom: 3%;
    }
    #uniLogo {
      width: 12em;
    }
    #elearningLogo {
      width: 8em;
    }
		#title {
			font-size: 1em;
      display: inline;
		}
}
@media only screen and (min-width : 765px){
	.tab-links a {
		font-size: 1.3vw;
	}
	#uniLogo {
    margin-top: 1%;
    width: 16em;
  }
  #elearningLogo {
    margin-top: 1%;
    width: 10em;
  }
	#title {
		font-size: 2vw;
  }
  .header{
    height:50vh;
    width:auto
  }
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.editingArea {
	background-color: #1B1B1E;
	color: white;
}
#canvas-container {
	background-color: #ebeced;
	padding: 3%;
}

.header {
  background-position:center;
	background-repeat:no-repeat;
	background-size:cover;

}
#uniLogo , #elearningLogo {
	float: right;
  margin: 1em;
}
.vl {
  border-left: 1px solid white;
  height: 4.5em;
  float: right;
  margin: 1%;
  margin-top: 2em;
  opacity: 0.5;
}
.title {
	font-family: 'Tajawal', sans-serif;
	text-align: center;
  color: white;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0.6em;
}

.typo {
	width:20%;
	height: auto;
	border: 1px solid grey;
}
#images {
	background-color: #1B1B1E;
	width: 100%;
	margin: auto;
}
.bg {
	width:20%;
	height: auto;
}
#backgrounds {
	display: inline-block;
  /* border: 1px solid white; */
}

/*----- Tabs -----*/
.tabs {
width:100%;
display:inline-block;
margin-bottom: 5%;
}
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
display:block;
clear:both;
content:'';
}
.tab-links li {
margin:0px 0px;
float:right;
list-style:none;
}
.tab-links a {
padding:10px 10px;
display:inline-block;
border-radius:3px 3px 0px 0px;
background:#1B1B1E;
font-family: 'Changa', sans-serif;
font-weight:600;
color:#C5C3C6;
transition:all linear 0.15s;
}
.tab-links a:hover {
background:#58A4B0;
text-decoration:none;
color :white;
}
li.active a, li.active a:hover {
background:#58A4B0;
color:white;
}
/*----- Content of Tabs -----*/
.tab-content {
padding:3%;
border-radius:3px;
border: 1px solid #1985A1;
box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
background:#1B1B1E;
margin-left: 10px;
}
.tab {
display:none;
width: 100%;
margin: 0 auto;
}
.tab.active {
display:block;
}

#text_color {
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
  -webkit-opacity: 1;
  background: white;
}
input[type=file] {
    background-color: #1985A1;
    border: none;
    color: white;
    width: 75%;
    text-decoration: none;
    cursor: pointer;
    width: 75%;
    display: table;
    margin: 0 auto;
    margin-bottom: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#delete , #addtext{
  background-color: #1985A1;
  border: none;
  color: white;
  text-decoration: none;
  font-family: 'Changa', sans-serif;
  width: 75%;
  display: table;
  margin: 0 auto;
  margin-bottom: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
label {
  text-align: right;
  font-family: 'Changa', sans-serif;
}
#tab3 {
  text-align: right;
}
/* style (slider) input type range*/
@import url(https://fonts.googleapis.com/css?family=Dosis:700);

.value {
  display: inline-block;
  border-bottom: 4px dashed #bdc3c7;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1%;
  margin-left: 2%;
  width: 10%;
  height: auto;
}
input[type="range"] {
  display: inline-block;
  -webkit-appearance: none;
  background-color: #ebeced;
  width: 50%;
  height: 7px;
  border-radius: 10px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #1985A1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* border: 3px solid white; */
  transition: .3s ease-in-out;
}​
  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 3px solid #1985A1;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.5);
    background-color: #1B1B1E;
    border: 3px solid #1985A1;
  }
#fontsize {
  display: inline-block;
  width: 100%;
}
#alining {
  width: 90%;
  margin: 0 auto;
}
#download, #savepng {
  font-family: 'Changa', sans-serif;
  margin: 3%;
}
.downloadTap {
  width: 80%;
  margin: 0 auto;
}
#fileSize {
  width: 80%;
  margin: 0 auto;
  font-family: 'Changa', sans-serif;
  text-align: center;
}

#social-list {
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: block;
  align-items: center;

}

.fonttag {
  color:black !important;
}
.social-list li{
  float: right;
  margin-right: 1em;
  opacity: 0.7;
  filter:alpha(opacity-70);
}
.social-list  li:hover{
  opacity: 1;
}

.pageText {
  font-family: 'Tajawal', sans-serif;
  font-size: 2em;
  color: #968256;
  margin-top: 10%;
}
.category {
  width: 70%;
  height: auto;
  margin-bottom: 10%;
}
.footer {
  background-color: #006770;
  size: 20%;
  padding: 3%;
}

#hrLine {
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 5%;
}

.footerText {
  font-family: 'Tajawal', sans-serif;
  font-size: 1em;
  color: white;
  margin-top: 4%;
}